.editPage{
    background-color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30rem;
}
.body{
    padding: 10px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 20px
}
input{
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    border: 1px solid black;
}
.HendleButton{
    display: flex;
    margin-top: 10px;
}
.save{
    background: linear-gradient(to right, #8B5CF6,#EC4899);
    color: white;
}
.cancel{
    background: none;
    color: black;
    border: none;
}